<ion-view view-title="Notifications">
    <ion-content>
        <center>
            <h4>Your Notifications</h4>
        </center>
        <div class="list">
            <div class="item item-divider">
                Today
            </div>
            <a class="item" href="#">
                New request received from Prashant
            </a>
            <a class="item" href="#">
                New request received from Patil
            </a>
            <div class="item item-divider">
                Yesterday
            </div>
            <a class="item" href="#">
                New request received from Paul
            </a>
            <a class="item" href="#">
                New request received from Lana
            </a>
        </div>

    </ion-content>
</ion-view>