<ion-view view-title="Services">
    <ion-content>
        <center>
            <h4>Request a Service</h4>
        </center>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">Service Type</div>
                <select ng-model="serviceType" ng-change="filterProviders(serviceType)">
                    <option ng-repeat="service in services" value="{{service}}">{{service}}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Service Providers</div>
                <select ng-model="serviceProvider">
                    <option ng-repeat="provider in providers" value="{{provider.username}}">{{provider.name}}</option>
                </select>
            </label>
            <center><img src="img/map.png" height="200px"></center>
            <label class="item item-input">
                <span class="input-label">Date/Time</span>
                <input type="text" ng-model="serviceDtTm" placeholder="MM/DD/YYYY HH:MM">
            </label>
            <label class="item item-input">
                <span class="input-label">Comments</span>
                <textArea rows="3" ng-model="comments"></textarea>
            </label>
            <label class="item">
                <button class="button button-block button-balanced" ng-click="placeRequest(serviceType, serviceProvider, serviceDtTm, comments)">Place Request</button>
            </label>
        </div>
    </ion-content>
</ion-view>