<ion-view view-title="Account">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" href="#">
                Electrician
            </a>
            <a class="item item-icon-left" href="#">
                Painter
            </a>
            <a class="item item-icon-left" href="#">
                Plumber
            </a>
            <a class="item item-icon-left" href="#">
                Gardener
            </a>
        </div>
    </ion-content>
</ion-view>