<ion-view view-title="Notifications">
    <ion-content>
        <h3 class="headerbg">Notifications</h3>
        <!--img src="img/refresh.png" style="opacity:0.2" height="30px" width="30px"-->
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/places">
                <img ng-src="../img/user_a.png">
                <h2>Name</b>: x</h2>
                <p><b>Info</b>: y</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>