<ion-view view-title="My Requests">
    <ion-content>
        <div class="list card" ng-repeat="request in myRequests">
            <div class="item item-avatar">
                <img src="img/user_x.png">
                <h2>{{request.provider}}</h2>
                <p>{{request.dateTime}}</p>
                <img src="img/call.png" height="20px">
            </div>
            <div class="item item-body">
                <p><a ng-click="showServiceDetails({{request.id}})">{{request.comments}}</a></p>
                <p>
                    <a href="#" class="subdued">{{request.status}}</a>
                    <a href="#" class="subdued">Paid Amount: {{request.fees}}</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>