<ion-view view-title="Help">
    <ion-content>
        <div class="item item-text-wrap">
            <b>This page will contain instructions to help the user carry out basic tasks in the application.</b><br/><br/>
            <p>Try to adjust the brightness. If the screen doesn’t respond when you adjust the brightness, open several apps to make sure it’s not an issue with only one app.</p><br/>
            <p>If you have a screen protector, try removing it. Try removing your case if it includes a screen protector.</p>
            <p>If you see the issue in multiple apps, restart your device.</p>
            <p>If restarting doesn’t fix the issue, restore your device.</p>
        </div>
    </ion-content>
</ion-view>